<!DOCTYPE html>

<head>
  <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/newCar.css")}/>
</head>

<body>
  <h1>Add a New Car to Advertising</h1>

  <%= render "form.html", Map.put(assigns, :action, Routes.car_path(@conn, :create)) %>

  <button><%= link "Back", to: Routes.car_path(@conn, :index) %></button>
</body>
