<!DOCTYPE html>

<head>
  <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/showCar.css")}/>
</head>

<body>
  <h1>Show Car Details</h1>

  <ul>

    <li>
      <strong>Brand:</strong>
      <%= @car.brand %>
    </li>

    <li>
      <strong>Model:</strong>
      <%= @car.model %>
    </li>

    <li>
      <strong>Fabyear:</strong>
      <%= @car.fabYear %>
    </li>

    <li>
      <strong>Modelyear:</strong>
      <%= @car.modelYear %>
    </li>

    <li>
      <strong>Price:</strong>
      <%= @car.price %>
    </li>

  </ul>

  <button><%= link "Edit", to: Routes.car_path(@conn, :edit, @car) %></button>
  <button><%= link "Back", to: Routes.car_path(@conn, :index) %></button>
</body>
